
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&family=Nunito+Sans&family=Overpass:wght@400;700&family=Red+Hat+Display:wght@500;700;900&display=swap');

html{
  font-family: 'Red Hat Display', sans-serif;
}

body {
  background-image: url('./pattern-background-desktop.svg');
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: content-box;
  margin: 0;
  padding: 0;
  display: grid;
  place-items: center;
  margin-top: 20vh;
  box-shadow: 2px;
}

button{
  border-style: none;
}

.main__box{
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  width: 450px;
  box-shadow: 1px 2px 1px grey;
}

.main__img{
  border-radius: 20px 20px 0 0;
  margin-bottom: 1rem;
}

.main__info{
  display: flex;
  flex-direction: column;
  text-align: center;
  width:75%;
  color: #7c8498;
}

h1{
  color: black;
}

.main__plan{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-block: 20px;
  margin: 20px;
  background-color: #f8f9fe;
  border-radius: 20px;
  width: 75%;
  gap: 20px;
  line-height: 1.5rem;
}

.plan__cost{
  color:#7c8498;
}

.plan__cost--title{
  color: #000;
  font-size: 1.1rem;
}

.plan__icon {
  margin-left: 10px;
}

.plan__change{
  margin-left: auto;
  text-decoration: underline;
  margin-right: 10px;
}

.plan__change:hover{
  cursor: pointer;
}

.main__btnSection {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.main__proceedBtn, .main__cancelBtn{
  margin-bottom: 20px;
  padding-block: 10px;
  border-radius: 20px;
  background-color: white;
  font-size: 1.1rem;
  font-weight: bold;
  color:#7c8498;
} 

.main__proceedBtn:hover, .main__cancelBtn:hover{
  background-color: #382ae1;
  color: white ;
  transition: 400ms ease;
  cursor: pointer;
}

